<div style="color: red;">{{ error }}</div>
<label for="strategies">Choose a strategy: </label>
<select id="strategies" [(ngModel)]="selectedStrategy">
  <option *ngFor="let strategy of strategies" [ngValue]="strategy.id">{{ strategy.name }}</option>
</select>
<br/>
<br *ngIf="getSelectedStrategyDescription().length > 0"/>
<div *ngIf="getSelectedStrategyDescription().length > 0">Strategy description: {{ getSelectedStrategyDescription() }}</div>
<br/>
<div>
    <label for="shooters">Number of shooters: </label>
    <input type="number" id="shooters" [(ngModel)]="shooters"/>
</div>
<br/>
<div>
  <label for="bettingUnit">Betting unit: $</label>
  <input type="number" id="bettingUnit" [(ngModel)]="bettingUnit"/>
</div>
<br *ngIf="selectedStrategy === 3 || selectedStrategy === 7 || selectedStrategy === 8"/>
<div *ngIf="selectedStrategy === 3 || selectedStrategy === 7 || selectedStrategy === 8">
  <label for="oddsMultiple">Odds multiple: </label>
  <input type="number" id="oddsMultiple" [(ngModel)]="oddsMultipe"/>
  <br/>
</div>
<br *ngIf="selectedStrategy === 3"/>
<div *ngIf="selectedStrategy === 3">
  <label for="maxComeBets">Number of come bets: </label>
  <input type="number" id="maxComeBets" [(ngModel)]="maxComeBets"/>
</div>
<br/>
<br/>
<button (click)="runStrategy()">Run Simulation</button>
<br/>
<div *ngIf="isRunning">Executing simulation please wait...</div>
<br/>
<kendo-chart *ngIf="winLossData.length > 0">
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [title]="{ text: 'Win/Loss' }">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [title]="{ text: 'Shooters' }">
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-series>
    <!-- <kendo-chart-series-item-tooltip>Some value</kendo-chart-series-item-tooltip> -->
    <kendo-chart-series-item type="line" [data]="winLossData" [labels]="seriesLabels"></kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
<div [ngStyle]="{'color': s.color }" *ngFor="let s of output.slice().reverse()">{{ s.text }}</div>
