<div style="color: red;">{{ error }}</div>
<!-- <craps-child-component class="red"></craps-child-component> -->
<span>This is a website that simulates craps strategies for a chosen number of shooters and graphs the output (win or loss) after each shooter. Expand a strategy to view the description. Choose one or more strategies, enter values in any additional fields and click the Run Simulation button to see the results.</span>
<br/>
<br/>
<!-- <select id="strategies" [(ngModel)]="selectedStrategy" (change)="resetValues()">
  <option *ngFor="let strategy of strategies" [ngValue]="strategy.id">{{ strategy.name }}</option>
</select>
<div *ngFor="let strategy of strategies">
  <input type="checkbox" kendoCheckBox> {{ strategy.name}}
</div> -->
<kendo-treeview
      [nodes]="strategies"
      [textField]="['name', 'text']"
      kendoTreeViewExpandable
      kendoTreeViewHierarchyBinding
      childrenField="description"
      [kendoTreeViewCheckable]="{ checkChildren: false, enabled: true, checkOnClick: false, mode: 'multiple' }"
      [hasCheckbox]="hasCheckbox"
      [(checkedKeys)]="selectedStrategyIds"
      checkBy="id">
  </kendo-treeview>
  <!-- (checkedChange)="handleChecking($event)" -->
  
<br/>
<!-- <div>Checked keys: {{ selectedStrategyIds.join(",") }}</div> -->
<!-- <br *ngIf="getSelectedStrategyDescription().length > 0"/>
<div *ngIf="getSelectedStrategyDescription().length > 0">Strategy description: {{ getSelectedStrategyDescription() }}</div> -->
<br/>
<div>
    <label for="shooters">Number of shooters: </label>
    <input type="number" id="shooters" [(ngModel)]="shooters"/>
</div>
<br/>
<div>
  <label for="bettingUnit">Betting unit (multiple of 5): $</label>
  <input type="number" id="bettingUnit" [(ngModel)]="bettingUnit"/>
</div>
<div *ngIf="showOddsMultiple()">
  <br />
  <label for="oddsMultiple">Odds multiple: </label>
  <input type="number" id="oddsMultiple" [(ngModel)]="oddsMultiple"/>
  <br/>
</div>
<div *ngIf="showNumberOfComeBets()">
  <br/>
  <label for="maxComeBets">Number of come bets: </label>
  <input type="number" id="maxComeBets" [(ngModel)]="maxComeBets"/>
</div>
<div *ngIf="showNumberOfDontComeBets()">
  <br/>
  <label for="maxDontComeBets">Number of don't come bets: </label>
  <input type="number" id="maxDontComeBets" [(ngModel)]="maxDontComeBets"/>
</div>
<br/>
<br/>
<button (click)="runStrategy()">Run Simulation</button>
<br/>
<div *ngIf="isRunning">Executing simulation please wait...</div>
<br/>
<div *ngIf="isRunning && shooters > 25">
  <p>Shooters</p>
  <kendo-progressbar [value]="progressValue" [min]="0" [max]="shooters"></kendo-progressbar>
</div>
<br/>
<kendo-chart *ngIf="winLossData.length > 0 && isRunning == false" style="height: 500px;">
  <kendo-chart-legend position="top">
  </kendo-chart-legend>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [title]="{ text: 'Win/Loss in $' }">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [title]="{ text: 'Shooters' }">
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-series>
    <kendo-chart-series-item *ngFor="let strategy of selectedStrategyIds" type="line" [data]="getWinLossDataByStrategyId(strategy)" [labels]="seriesLabels" [name]="getStrategyNameById(strategy)" >
      <kendo-chart-series-item-tooltip format="${0}">
      </kendo-chart-series-item-tooltip>
    </kendo-chart-series-item>
    <kendo-chart-series-item-labels format="C0" position="bottom" [margin]="-25">
    </kendo-chart-series-item-labels>
  </kendo-chart-series>
</kendo-chart>
<div style="white-space: pre-wrap;" [ngStyle]="{'color': s.color }" *ngFor="let s of output.slice().reverse()">{{ s.text }}</div>

