.red {
    color: red;
    font-size: 5em;
}

.blue {
    color: blue;
    font-size: 25em;
}

/* Wrap the strategy description text */
.k-treeview *, .k-treeview *::before, .k-treeview *::after {
    white-space: normal;
}